#players {
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
}

.player-li {
    color: #E1DEC7;
    padding: 1rem 2rem;
    border: 2px solid transparent;
}

.active {
    color: #ffd755;
    border: 2px solid #ffd755;

    animation: pulse 2s infinite;

    border-radius: 5px;
}

.player-name {
    margin-right: 5rem;
}

.player-input {
    background-color: #46432F;
    border: none;

    margin-right: 2rem;

    height: 100%;

    color: #E1DEC7;

    font-size: 1.2rem;

    max-width: 8rem;
}

.player-symbol {
    margin-right: 2rem;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    color: #ffe282;

    transition: color .5s;
}

.button:hover {
    color: #F8CA31;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        border: 3px solid #f8d665;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
